/* App.css */
body {
  font-family: 'Tajawal', sans-serif; /* خط عربي */
}

.ant-menu-item a {
  color: #333;
}

.ant-menu-item-selected a {
  color: #1890ff !important;
}

/* تنسيق الجداول للغة العربية */
.ant-table {
  direction: rtl;
}

.ant-table-thead > tr > th {
  text-align: right !important;
}
